.card {
    margin: 0.5mm;
    border-style: solid;
    border-width: 0.8mm;
    border-color: black;
    border-radius: 3mm;
    width: 63mm;
    height: 80mm;
}

.type {
    margin-top: 2mm;
    margin-right: 1mm;
    margin-left: 1mm;
    font-family: "Arial";
    font-weight: bold;
    font-size: 16pt;
    height: 10mm;
}

.text {
    float:left;
    font-family: "Arial";
    font-size: 14spt;
    margin-left: 1.5mm;
    margin-right: 1.5mm;
    margin-top: 5mm;
    padding: 2mm;
    background-color: #EEEEEE;
    border-radius: 3mm;
    height: 25mm;
    width: 55mm;
}

.flavor {
    float:left;
    font-family: "Arial";
    font-size: 14spt;
    margin-left: 1mm;
    margin-right: 1mm;
    margin-top: 0mm;
    padding: 1mm;
    height: 10mm;
    width: 60mm;
    font-style: italic;
}

.limit {
  float:left;
  font-family: "Arial";
  font-size: 11pt;
  margin-left: 1.5mm;
  margin-right: 1.5mm;
  margin-top: 5mm;
  padding: 2mm;
  background-color: #EEEEEE;
  border-radius: 3mm;
  height: 10mm;
  width: 55mm;
}
